### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# IntelliJ IDEA files
.idea/

# Compiled bytecode
*.class

# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.*

# Gradle specific
.gradle/
build/

# Logs
logs/
*.log

# IDE-specific configuration files
*.iml
*.ipr
*.iws

# OS-specific files
.DS_Store
Thumbs.db
